<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- ===================================================================== -->
<!--                                                                       -->
<!--  Log4j Configuration                                                  -->
<!--                                                                       -->
<!-- ===================================================================== -->

<!-- $Id$ -->

<!--
   | For more configuration infromation and examples see the Jakarta Log4j
   | owebsite: http://jakarta.apache.org/log4j
 -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

  <!-- ================================= -->
  <!-- Preserve messages in a local file -->
  <!-- ================================= -->

  <!-- A time/date based rolling appender -->
  <!-- <appender name="FILE" class="org.jboss.logging.appender.DailyRollingFileAppender">
    <param name="File" value="${jboss.server.home.dir}/log/server.log"/>
    <param name="Append" value="false"/>
    <param name="Threshold" value="INFO"/> -->

    <!-- Rollover at midnight each day -->
    <!-- <param name="DatePattern" value="'.'yyyy-MM-dd"/> -->

    <!-- Rollover at the top of each hour
    <param name="DatePattern" value="'.'yyyy-MM-dd-HH"/>
    -->
    
    <!-- STDOUT ConsoleAppender-->
    <!-- 
    <appender name="ChainsawAppenderXX" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.SimpleLayout"/>
    </appender>
    -->
    
     <!-- <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
             <param name="ConversionPattern"
                            value="%6r %5p %c.%M:%L - %m%n"/>
        </layout>
    </appender> -->
  
    <appender name="ChainsawAppender" class="org.apache.log4j.net.SocketAppender">
        	<param name="Threshold" value="DEBUG"/>
          <param name="RemoteHost" value="localhost"/>
          <param name="Port" value="4560"/>
          <param name="LocationInfo" value="true"/>
          <!-- <param name="DatePattern"0 value="'.'yyyy-MM-dd"/> -->
           <layout class="org.apache.log4j.PatternLayout">
		      <!-- The default pattern: Date Priority [Category] Message\n -->
		      <!-- <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/> -->
		     <!-- <param name="ConversionPattern" value="%5p [%t] (%F:%L) - %m%n"/> -->
		     
		      <param name="ConversionPattern" value="%-5p [%t] %c - %m%n"/>
   			</layout>
      </appender>

  <!-- A size based file rolling appender
  <appender name="FILE" class="org.jboss.logging.appender.RollingFileAppender">
    <param name="File" value="${jboss.server.home.dir}/log/server.log"/>
    <param name="Append" value="false"/>
    <param name="MaxFileSize" value="500KB"/>
    <param name="MaxBackupIndex" value="1"/>

    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>
    </layout>	    
  </appender>
  -->

  <!-- ============================== -->
  <!-- Append messages to the console -->
  <!-- ============================== -->

  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <!-- <param name="Threshold" value="INFO"/> -->
    <param name="Target" value="System.out"/>

    <layout class="org.apache.log4j.PatternLayout">
      <!-- The default pattern: Date Priority [Category] Message\n -->
      <!-- <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/> -->
     <param name="ConversionPattern" value="%d{ABSOLUTE} %5p (%F:%M:%L) - %m%n"/>
      <!-- <param name="ConversionPattern" value="%-5p [%t] %c - %m%n"/> -->
    </layout>
  </appender>
  
  <appender name="SOLUTIONS_FILE" class="org.apache.log4j.FileAppender">
           <param name="File" value="jump.log"/>
          <!-- <param name="File" value="/path/java/solutions.log"/> -->
           <param name="Append" value="false"/> 
           <layout class="org.apache.log4j.PatternLayout"> 
 				<param name="ConversionPattern" value="%d{ABSOLUTE} %5p (%F:%M:%L) - %m%n"/>
           </layout>
  </appender>

<!-- log4j.rootLogger=DEBUG, CHAINSAW_CLIENT -->

  <!-- ====================== -->
  <!-- More Appender examples -->
  <!-- ====================== -->

  <!-- Buffer events and log them asynchronously
  <appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
    <appender-ref ref="FILE"/>
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="SMTP"/>
  </appender>
  -->

  <!-- EMail events to an administrator
  <appender name="SMTP" class="org.apache.log4j.net.SMTPAppender">
    <param name="Threshold" value="ERROR"/>
    <param name="To" value="admin@myhost.domain.com"/>
    <param name="From" value="nobody@myhost.domain.com"/>
    <param name="Subject" value="JBoss Sever Errors"/>
    <param name="SMTPHost" value="localhost"/>
    <param name="BufferSize" value="10"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%d{ABSOLUTE},%c{1}] %m%n"/>
    </layout>
  </appender>
  -->

  <!-- Syslog events
  <appender name="SYSLOG" class="org.apache.log4j.net.SyslogAppender">
    <param name="Facility" value="LOCAL7"/>
    <param name="FacilityPrinting" value="true"/>
    <param name="SyslogHost" value="localhost"/>
  </appender>
  -->

  <!-- Log events to JMS (requires a topic to be created)
  <appender name="JMS" class="org.apache.log4j.net.JMSAppender">
    <param name="Threshold" value="ERROR"/>
    <param name="TopicConnectionFactoryBindingName" value="java:/ConnectionFactory"/>
    <param name="TopicBindingName" value="topic/MyErrorsTopic"/>
  </appender>
  -->

  <!-- ================ -->
  <!-- Limit categories -->
  <!-- ================ -->


<!-- <category name="lu.ptc.services"
		additivity="true">
   <priority value="info"/>
   <appender-ref ref="SOLUTIONS_FILE"/>
</category> -->
<!-- <category name="lu.ptc.data"
		additivity="false">
   <priority value="info"/>
   <appender-ref ref="SOLUTIONS_FILE"/>
</category>
<category name="lu.ptc.bank"
		additivity="false">
   <priority value="info"/>
   <appender-ref ref="SOLUTIONS_FILE"/>
</category> -->

<category name="com.vividsolutions">
   <priority value="debug"/>
   <appender-ref ref="SOLUTIONS_FILE"/>
</category>

<category name="org.agil">
   <priority value="debug"/>
   <appender-ref ref="SOLUTIONS_FILE"/>
</category>

<category name="lu.ptc.services.eshop"
		additivity="false">
   <priority value="info"/>
   <appender-ref ref="SOLUTIONS_FILE"/>
</category>

<category name="lu.ptc.services.gis"
		additivity="false">
   <priority value="info"/>
   <appender-ref ref="SOLUTIONS_FILE"/>
</category>
<category name="lu.ptc.network"
		additivity="true">
   <priority value="debug"/>
   <appender-ref ref="SOLUTIONS_FILE"/>
</category>

<category name="lu.ptc.tools"
		additivity="false">
   <priority value="info"/>
   <appender-ref ref="SOLUTIONS_FILE"/>
</category> 

  <!--
     | An example of enabling the custom TRACE level priority that is used
     | by the JBoss internals to diagnose low level details. This example
     | turns on TRACE level msgs for the org.jboss.ejb.plugins package and its
     | subpackages. This will produce A LOT of logging output.
       If you use replace the log4j 1.2 jar with a 1.1.3 jar you will need to
       change this from XLevel to XPriority.
  <category name="org.jboss.system">
    <priority value="TRACE" class="org.jboss.logging.XLevel"/>
  </category>
  <category name="org.jboss.ejb.plugins">
    <priority value="TRACE" class="org.jboss.logging.XLevel"/>
  </category>
  -->

  <!-- ======================= -->
  <!-- Setup the Root category -->
  <!-- ======================= -->

  <root>
   <!-- <appender-ref ref="CONSOLE"/> -->
   <!-- <appender-ref ref="FILE"/> -->
    <level value="DEBUG"/>
   <!-- <appender-ref ref="ChainsawAppender"/> -->
    <appender-ref ref="SOLUTIONS_FILE"/>
     
  </root>
  
  <!-- Clustering logging -->
  <!-- Uncomment the following to redirect the org.javagroups and
     org.jboss.ha categories to a cluster.log file.

  <appender name="CLUSTER" class="org.jboss.logging.appender.RollingFileAppender">
    <param name="File" value="${jboss.server.home.dir}/log/cluster.log"/>
    <param name="Append" value="false"/>
    <param name="MaxFileSize" value="500KB"/>
    <param name="MaxBackupIndex" value="1"/>

    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>
    </layout>	    
  </appender>
  <category name="org.javagroups">
    <priority value="DEBUG" />
    <appender-ref ref="CLUSTER"/>
  </category>
  <category name="org.jboss.ha">
    <priority value="DEBUG" />
    <appender-ref ref="CLUSTER"/>
  </category>
  -->

</log4j:configuration>
