<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">

    <Appenders>
        <Console name="Console"
                 target="SYSTEM_OUT">
            <PatternLayout pattern="[%p] %d{HH:mm:ss.SSS} %m%n"/>
        </Console>
        <File name="LogFile"
                     fileName="${sys:log.dir}openjump2.log"
                     append="true">
            <PatternLayout pattern="[%p] %d{yyyy-MM-dd_HH:mm:ss.SSS} %m%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="LogFile"/>
        </Root>
    </Loggers>
</Configuration>